body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

button {
    height: 40%;
}

h1 {
    font-size: 7em;
    color: rgb(232, 232, 232);
    justify-self: center;
    align-self: center;
}

h2 {
    font-size: 2em;
    justify-self: center;
    align-self: center;
}

ul {
    list-style: circle;
}

li {
    display: list-item;
    list-style-type: circle;
    padding-left: 20px;
}

#header, #footer {
    background-color: #21006f;
    color: white;
    width: 100%;
    height: 50px;
    
}

/* #header {
    height: 10%;
}

#footer {
    height: 5%;
} */

#content {
    flex-grow: 1;
}

#content > * {
    height: 100%;
}

.startScreenBackground, .scoreScreenBackground {
    height: 100%;
    /* background-color: pink; */
    background: linear-gradient(0deg, #21006f 0%, #f13f8f 50%, #21006f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.startScreenContent {
    height: 70%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.scoreScreenContent {
    height: 70%;
    width: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4fr 1fr;
    gap: 20px;
}

#scoreDisplayDiv {
    grid-column: 1 / -1;
    background-color: #21006f;
    color: aqua;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr repeat(10, 1fr);
    border-radius: 10px;
    filter: drop-shadow(10px 10px orange);
}

#scoreDisplayDiv > * {
    display: flex;
    align-self: center;
    padding-left: 20px;
}

#scoreScreenHomeButton {
    grid-column: 1/-1;
    width: 50%;
    align-self: center;
    justify-self: center;
}

.titleDiv, .scoreTitleDiv {
    grid-column: 1 / -1;
    border-radius: 10px;
}

.instructionDiv {
    grid-column: 1 / -1;
    background-color: #21006f;
    color: aqua;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    filter: drop-shadow(10px 10px orange);
}

.instructionDiv > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.gameScreenContent {
    /* background-color: rgb(160, 255, 160); */
    background: linear-gradient(0deg, #21006f 0%, #f13f8f 50%, #21006f 100%);
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 20px;
}

#gameControlDiv {
    box-sizing: border-box;
    height: 100%;
    width: 200px;
    background-color: rgb(0, 170, 255);
    display: flex;
    flex-direction: column;
    position: sticky;
}

#gameInstructionDiv {
    background-color: #ffc39b;
}

#characterPickerSpace {
    flex-grow: 1;
}

#gameScreenDiv {
    background-color: rgb(52, 208, 52);
    height: 100%;
    /* width: 1fr;  */
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow:scroll;
}

#gameField {
    background-color: whitesmoke;
    height: 100%;
    /* width: 160vh;  */
    /* height: 1080px; */
    /* width: 1920px;  */
    aspect-ratio: 16 / 9;
    background-image: url('./img/iSpyCityBlockHiRes.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* overflow:scroll; */
}

#gameImage {
    /* background-image: url('./img/iSpyLevers.jpeg');
    background-size: cover;
    background-repeat: no-repeat; */
    /* height: 80%;
    width: auto;
    display: flex;  */
    /* background-color: grey; */
}

#targetGrid {
    height: 100%;
    width: 100%;
     /* background-color: rgba(0, 255, 255, 0.116); */
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(64, 1fr);
    grid-template-rows: repeat(36, 1fr);
}

#characterPicker {
    /* height: 25%;
    width: 25%; */
    background-color: orange;
    border: solid black 2px;
    /* position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1; */
}

.targetSquare {
    box-sizing: border-box;
    /* border: 1px white dotted; */
    z-index: 0;
}

.targetSquare:hover {
    background-color: rgba(0, 255, 255, 0.449); 
}

#targetMarker {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 3px #ff6600 solid;
    border-radius: 50%;
}

.checkmark {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 3px #51fb3e solid;
    border-radius: 50%;
}

