body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#header, #footer {
    background-color: rgb(203, 203, 252);
}

#header {
    height: 10%;
}

#footer {
    height: 5%;
}

#content {
    flex-grow: 1;
}

#content > * {
    height: 100%;
}

.startScreenContent {
    background-color: pink;
}

.gameScreenContent {
    background-color: rgb(160, 255, 160);
    display: flex;
    flex-direction: row;
}

#gameField {
    height: 70vh;
    width: 70vh;
    background-color: whitesmoke;
}

#gameImage {
    background-image: url('./img/simpsonFamily.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    /* background-color: grey; */
}

#targetGrid {
    height: 100%;
    width: 100%;
    /* background-color: rgba(0, 255, 255, 0.116); */
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

#characterPicker {
    height: 25%;
    width: 25%;
    background-color: orange;
    border: solid black 2px;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.targetSquare {
    /* border: 1px black dotted; */
    z-index: 0;
}

.targetSquare:hover {
    background-color: rgba(0, 255, 255, 0.449); 
}

#targetMarker {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 3px #ff6600 solid;
    border-radius: 50%;
}

.checkmark {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 3px #51fb3e solid;
    border-radius: 50%;
}

.scoreScreenContent {
    background-color: rgb(240, 255, 80);
}